/* Inserta tu codigo CSS aqui */

body {
    font-size: 1.3rem;
}

nav a:hover {
    color: #F05F40 !important;
}

.bg-img {
    background: url(../img/header.jpg) no-repeat;
    background-size: 100% 730px;
    height: 650px;
}

.btnconoce {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-orange {
    color: #F05F40;
}

#service {
    padding: 8% 0% 8%;
}

.items {
    width: 80%;
    margin: 0 auto;
}

.items h4 {
    font-size: 1.9rem;
}

#github {
    background-color: #222222;
    color: white;
    padding: 5% 0;
}

#github a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 12px 27px;
    background-color: white;
    color: black;
    border-radius: 35px;
    font-weight: bold;
    font-size: 1rem;
}

#github a:hover {
    background-color: #f05f40;
    color: white;
}

#github p {
    font-size: 2.4rem;
    line-height: 1.2;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email a {
    text-decoration: none;
    color: #F17064;
}